//compress:true, sourceMap: true

@widthblock: 1140px;
@minheight: 100vh;



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Lato', sans-serif;
}

a {
    text-decoration: none;
    color: black;
}

.center {
    padding: 0 calc(50% - @widthblock/2);
}

.wrapper {
    min-height: @minheight;
    display: flex;
    flex-direction: column;
}

.top {
    flex-grow: 1;
}

.logo {
    display: flex;
    align-items: center;
    font-size: 27px;
    font-weight: 300;
    color: #222222;
    text-align: center;
    letter-spacing: 0.03em;
    line-height: 32px;
    text-transform: uppercase;

    &>span {
        color: #f16d7f;
        font-weight: 900;
    }
}

header {
    display: flex;
    height: 100px;
    justify-content: space-between;
    align-items: center;
    background-color: #ffffff;
    border: 1px solid #ececec;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.17);

    .header_left,
    .header_right {
        display: flex;
        align-items: center;
    }

    @keyframes shake-bottom {

        0%,
        100% {
            -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
            -webkit-transform-origin: 50% 100%;
            transform-origin: 50% 100%;
        }

        10% {
            -webkit-transform: rotate(2deg);
            transform: rotate(2deg);
        }

        20%,
        40%,
        60% {
            -webkit-transform: rotate(-4deg);
            transform: rotate(-4deg);
        }

        30%,
        50%,
        70% {
            -webkit-transform: rotate(4deg);
            transform: rotate(4deg);
        }

        80% {
            -webkit-transform: rotate(-2deg);
            transform: rotate(-2deg);
        }

        90% {
            -webkit-transform: rotate(2deg);
            transform: rotate(2deg);
        }
    }

    .shake-bottom {
        &:hover {
            animation: shake-bottom 0.8s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
            animation-iteration-count: 1;
        }
    }

    .header_form {
        display: flex;
        align-items: center;
        margin-left: 37px;

        &>input {
            height: 38px;
            width: 317px;
            padding: 0px 15px;
            background-color: #ffffff;
            border: 1px solid #e6e6e6;
            border-right: none;
            border-left: none;

            &:focus {
                outline: none;
            }
        }

    }

    .header_cart {
        margin-right: 26px;
        position: relative;

        .drop_cart {
            flex-direction: column;
            top: 30px;
            left: -15px;
        }

        .drop_cart_product {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            margin: 15px 0;
            align-items: center;

            .drop_cart_h2 {
                font-size: 16px;
                font-weight: bold;
                color: #222222;
                text-transform: uppercase;
            }

        }

        .drop_cart_button {
            font-size: 14px;
            font-weight: bold;
            color: #4a4a4a;
            text-transform: uppercase;
            outline: 1px solid #eaeaea;
            padding: 19px 74px;
            margin: 10px 0;
            top: 80px;

            &:hover {
                color: #f16d7f;
                outline-color: #f16d7f;
            }
        }

        .text_in_cart {
            display: flex;
            flex-direction: column;
            margin: 0 10px;

            &>h3 {
                font-size: 12px;
                font-weight: bold;
                color: #222222;
                text-align: right;
                text-transform: uppercase;
                margin-bottom: 5px;
            }

            &>h4 {
                font-family: 'Lato';
                font-size: 12px;
                color: #f16d7f;
                text-transform: uppercase;
                margin-top: 5px;
            }
        }

        &:hover .drop_cart {
            display: flex;
        }
    }


    .browse {
        height: 36px;
        width: 87px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #e6e6e6;
        outline: 1px solid #e6e6e6;
        border-radius: 3px 0px 0px 3px;
        position: relative;

        .drop_browse {
            left: -10px;
            top: 30px;
        }

        &::after {
            padding-left: 5px;
            content: url(img/strelca-grey.png);
        }

        &:hover .drop_browse {
            display: flex;
        }

    }

    .search {
        border: none;
        padding: 9.5px 10px;
        outline: 1px solid #e6e6e6;
        border-radius: 0px 3px 3px 0px;
    }


}

.logo_img {
    margin-right: 8px;
}

.button {
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 38px;
    padding: 15px;
    background-color: #f16d7f;

    &::after {
        padding-left: 5px;
        content: url(img/strelca-white.png);

    }

    &:hover {
        box-shadow: 0px 5px 8px 0px #000000;
    }
}

nav {
    .menu {
        list-style-type: none;
        display: flex;
        justify-content: center;

        .menu_list {
            position: relative;

        }

        &>.menu_list:hover .drop {
            display: flex;
        }
    }


    .menu_link {
        font-family: 'Lato';
        font-size: 14px;
        font-weight: bold;
        color: #222222;
        text-transform: uppercase;
        padding: 20px;
        display: block;
    }
}

.menu_link_active {
    border-bottom: 3px solid #f16d7f;
    padding-bottom: 18px;
}

.drop {
    position: absolute;
    display: none;
    background-color: #ffffff;
    border-radius: 5px;
    padding: 12px 20px 0px 20px;
    top: 46px;
    z-index: 1;

    .drop_flex {
        margin-right: 46px;

        .drop_h3 {
            width: 234px;
            font-size: 14px;
            color: #232323;
            letter-spacing: 0.03em;
            padding: 8px 0;
            margin-bottom: 8px;
            text-transform: uppercase;
            border-bottom: 1px solid #e8e8e8;
        }

        .drop_ul {
            list-style-type: none;
            margin-bottom: 10px;
        }

        .drop_a {
            font-size: 14px;
            color: #646464;
            letter-spacing: 0.03em;
            line-height: 28px;

            &:hover {
                color: #f16d7f;
            }

        }

        &:last-child {
            margin-right: 0px;
        }

        .drop_offer {
            position: relative;

            &>h2 {
                position: absolute;
                top: -65px;
                left: 180px;
                font-size: 22px;
                font-weight: 900;
                color: #ffffff;
                letter-spacing: 0.03em;
                line-height: 28px;
                text-transform: uppercase;
            }
        }
    }

}

.drop_last {
    right: 0;
}


.promo {
    background-color: #e8e8e8;
    min-height: 613px;
    background-image: url(img/promo.png);
    background-position: center -51px;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;


    &>h1 {
        font-size: 60px;
        font-weight: 900;
        color: #222222;
        letter-spacing: 0.03em;
        border-left: 12px solid #f16d7f;
        padding-left: 12px;

    }

    &>h3 {
        font-size: 40px;
        font-weight: 900;
        color: #222222;
        letter-spacing: 0.03em;
        border-left: 12px solid #f16d7f;
        padding-left: 12px;

        &>span {
            color: #f16d7f;
        }
    }
}

.offers {
    display: flex;
    padding-bottom: 98px;
    padding-top: 98px;

    .offer_1 {
        background-image: url(img/offers1.png);
        height: 542px;
        width: 560px;
        margin: 0px 21px 21px 0px;
    }

    .offer_2 {
        background-image: url(img/offers2.png);
        height: 261px;
        width: 560px;
    }

    .offer_3 {
        background-image: url(img/offers3.png);
        height: 261px;
        width: 560px;
        margin: 0px 0px 21px 0px;
    }

    .offer_4 {
        background-image: url(img/offers4.png);
        height: 542px;
        width: 560px;
    }

    .text_offer {
        background-color: white;
        display: inline-flex;
        flex-direction: column;
        justify-content: center;
        position: relative;
        top: 28px;
        padding: 18px;

        &>h4 {
            font-size: 18px;
            font-weight: 900;
            color: #222222;
            letter-spacing: 0.03em;
            text-transform: uppercase;
        }

        &>h3 {
            font-size: 30px;
            font-weight: 900;
            color: #f16d7f;
            letter-spacing: 0.03em;
            text-transform: uppercase;
        }
    }
}

.products {
    display: flex;
    flex-direction: column;


    .description_in_product {
        text-align: center;
        margin-bottom: 60px;

        h3 {
            font-size: 30px;
            font-weight: bold;
            color: #222222;
            text-align: center;
            letter-spacing: 0.03em;
            line-height: 54px;
        }

        p {
            font-size: 14px;
            color: #9f9f9f;
            letter-spacing: 0.03em;
        }
    }

    .gallery_products {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .product {
        width: 260px;
        margin-bottom: 31px;
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        flex-wrap: wrap;
        transition: all 0.3s;

        & .product_img {
            width: 100%;
        }

        &:hover {
            transform: scale(1.03);
            box-shadow: 0px 5px 8px 0px rgba(0, 0, 0, 0.16);
        }

        &:hover>a>.product_img {
            filter: brightness(50%);
        }

        &:hover>.button_addToCart {
            display: flex;
        }

        &>.button_addToCart {
            position: absolute;
            top: 97px;
            left: 70px;
            display: none;
            justify-content: center;
            align-items: center;
            font-size: 13px;
            font-weight: bold;
            color: #ffffff;
            height: 39px;
            width: 123px;
            outline: 1px solid white;

            &:hover {
                box-shadow: 0px 0px 5px 0px white;
            }

            &>p {
                display: flex;
                align-items: center;

                &::before {
                    content: url(img/cart-white.png);
                    padding-right: 10px;
                }
            }
        }

        &>a>h6 {
            font-size: 13px;
            color: #222222;
            text-transform: uppercase;
            padding: 8px;
            margin-top: -3px;
            background-color: white;
        }

        &>a>span {
            font-size: 16px;
            font-weight: bold;
            color: #f16d7f;
            text-transform: uppercase;
            padding: 8px;
            display: block;
            background-color: white;
        }
    }

    &>a {
        width: 212px;
        align-self: center;
    }
}


.atvanteges {

    display: flex;
    margin-top: 113px;

    .atvanteges_left {
        background-image: url(img/advanteges.png), url(img/advanteges_back.png);
        background-size: cover;
        background-repeat: no-repeat;
        min-height: 529px;
        flex-grow: 1.3;
        flex-basis: 1350px;
        color: white;
        font-size: 54px;
        font-weight: bold;

        &>h3 {
            position: relative;
            top: 145px;
            left: 25px;
        }

        &>h3>span {
            color: #f16d7f;
            letter-spacing: 0.03em
        }

        &>h4 {
            font-size: 32px;
            font-weight: bold;
            color: #ffffff;
            letter-spacing: 0.03em;
            position: relative;
            left: 25px;
            top: 145px;
        }
    }

    .atvanteges_rigtht {
        flex-grow: 1;
        background-color: #222224;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        color: white;

        &>.atvantege>img {
            float: left;
            padding: 25px;
        }

        &>.atvantege>h5 {
            font-size: 20px;
            font-weight: bold;
            color: #fbfbfb;
            letter-spacing: 0.03em;
            overflow: hidden;
            padding-bottom: 10px;
        }

        &>.atvantege>p {
            font-size: 14px;
            font-weight: 300;
            color: #fbfbfb;
            letter-spacing: 0.03em;
            line-height: 24px;
            overflow: hidden;
            padding-right: 30px;
        }
    }

}


.subscribe {
    display: flex;
    min-height: 438px;
    background-image: url(img/grey-backgraund.png), url(img/subscribe.png);
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 100px;

    .subscribe_left {
        clear: both;
        overflow: hidden;
        flex-grow: 1;
        align-self: center;
        padding-bottom: 65px;

        &>article>img {
            float: left;
            padding-right: 20px;
        }

        &>article>p {
            font-size: 16px;
            font-style: italic;
            color: #222224;
            letter-spacing: 0.03em;
            line-height: 26px;
            width: 425px;
            overflow: hidden;
            padding-top: 10px;
        }

        &>article>.name {
            font-size: 16px;
            font-weight: bold;
            color: #f16d7f;
            letter-spacing: 0.03em;
            line-height: 26px;
            padding-left: 100px;
            margin-top: 15px;
        }

        &>article>.city {
            font-size: 12px;
            font-weight: 300;
            color: #222224;
            letter-spacing: 0.03em;
            line-height: 14px;
            padding-left: 100px;
        }
    }

    .subscribe_right {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        padding-right: 100px;
        align-self: center;

        &>section>h3 {
            font-size: 24px;
            color: #222224;
            text-align: center;
            letter-spacing: 0.03em;
            text-transform: uppercase;
        }

        &>section>h4 {
            font-family: 'Lato';
            font-size: 14px;
            color: #222224;
            text-align: center;
            letter-spacing: 0.03em;
            line-height: 24px;
            margin-bottom: 35px;
        }

        &>section>.subscribe_form {

            &>input {
                float: left;
                width: 300px;
                background-color: #e1e1e1;
                border: none;
                border-radius: 23px 0px 0px 23px;
                height: 46px;
                font-size: 14px;
                color: #222224;
                letter-spacing: 0.03em;
                line-height: 54px;
                padding-left: 25px;

                &:focus,
                &:focus+.button {
                    outline: none;
                    box-shadow: -5px 10px 15px -7px #000000;
                }
            }

            &>.button {
                border-radius: 0px 23px 23px 0px;
                font-size: 14px;
                color: #ffffff;
                text-align: center;
                letter-spacing: 0.03em;
                line-height: 54px;
                height: 46px;

                &:hover {
                    box-shadow: none;
                }
            }
        }
    }

}

.subscribe_sleder {
    display: flex;
    justify-content: center;

    & .slide {
        background-color: #d6d6d6;
        height: 4px;
        width: 38px;
        margin: 5px;

        &:hover {
            background-color: #f16d7f;
        }
    }
}

.contacts {
    display: flex;
    min-height: 540px;
    margin: 100px 0;

    &>.contact_text {
        margin-right: 60px;
    }

    &>.contact_text>.logo {
        margin-bottom: 30px;
    }

    &>.contact_text>.contact_description {
        font-size: 14px;
        font-weight: 300;
        color: #898989;
        text-align: left;
        letter-spacing: 0.03em;
        line-height: 24px;
        padding-bottom: 15px;
        max-width: 430px;
    }

    &>.contact_nav {
        display: flex;
        min-width: 650px;
        justify-content: space-between;
    }

    &>.contact_nav>.contat_block {
        font-size: 16px;
        color: #898989;
        text-align: left;
        letter-spacing: 0.03em;
        line-height: 42px;
        list-style-type: none;

        &>span {
            display: block;
            padding-bottom: 45px;
            font-size: 18px;
            font-weight: bold;
            color: #f16d7f;
            text-align: left;
            letter-spacing: 0.03em;
            line-height: 26px;
        }
    }
}


footer {
    .footer {
        min-height: 100px;
        background-color: #e6e6e6;
        font-size: 16px;
        color: #7a7a7a;
        text-align: right;
        letter-spacing: 0.03em;
        line-height: 42px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 30px;

        &>.rotate180 {
            transition: all 0.3s;
            transform: rotate(180deg);

            &:hover {
                transform: none;
            }
        }

        & nav .footer_link {
            list-style-type: none;
        }

        & nav .footer_link>.link {
            float: left;
            height: 32px;
            width: 32px;
            background-color: #ffffff;
            margin: 0 8px;
            transition: all 0.3s;

            &:hover {
                background-color: #f16d7f;
                transform: rotate(360deg);
            }

            &>a>img {
                padding: 10px;
            }

        }

    }
}

@import "blocks/_products";
@import "blocks/_single_page";
@import "blocks/_shopping_cart";
@import "blocks/_checkout";